Feb 2026 Internship

Logic Building Task                                                             
Python Programming Practice Problems

Problem 1: Unique Words in a Sentence                                          
Problem Statement                                                   
Given a sentence, identify all unique words and display:                   
1.The count of unique words                                           
2.The unique words themselves

In [49]:
# Taking input from the user
Sentence = input("Enter Sentence: ")

#Spliting the words
words = Sentence.split()

Enter Sentence: python is easy and python is powerful

In [50]:
#Storing words in set
uniquewords = set(words)

#printing the requirements
print("Number of unique words: ", len(uniquewords))
print("Unique words: ", uniquewords)

Number of unique words:  5
Unique words:  {'easy', 'is', 'python', 'and', 'powerful'}

Problem 2: Highest Salary from Employee Data                             
Problem Statement                                                          
Store employee names and their salaries, and determine which employee has the highest salary.

In [51]:
# Storing the details in the dictionary
employees = { "Ravi": 75000, "Anita": 68000, "Kiran": 72000 }

# default taking values
highest_employee = ""
highest_salary = 0

In [52]:
for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_employee = name

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values                                      
Problem Statement                                                               
Find the maximum and minimum values from a list of numbers.

In [53]:
# list of numbers
numbers = [45, 22, 89, 10, 66]

# assume first element as max and min
max_value = numbers[0]
min_value = numbers[0]

In [54]:
# checking each number
for num in numbers:
    if num > max_value:
        max_value = num

    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold                               
Problem Statement                                                
Count how many products have a price greater than 1000.

In [55]:
# given prices
prices = [450, 1200, 899, 1500, 300]

# count for <1000 price
count = 0

In [56]:
# checking each price
for price in prices:
    if price > 1000:
        count = count + 1

print("Products above 1000:", count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage                         
Problem Statement                                            
Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

In [57]:
# given attendance record
attendance = ["P", "P", "A", "P", "P"]

# count present
present = 0

for day in attendance:
    if day == "P":
        present =  present + 1

In [58]:
total_days = len(attendance)

attendance_percentage = (present / total_days) * 100

print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers                             
Problem Statement                                                   
You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.

In [59]:
# Given Phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list into set
unique_numbers = set(phone_numbers)

In [60]:
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency                                           
Problem Statement                                           
Count how many times each character appears in a given string.

In [61]:
# given string
text = "pythonp"

# store the char
count = {}

In [62]:
for char in text:
    if char in count:
        count[char] = count[char] + 1
    else:
        count[char] = 1

print(count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple                                              
Problem Statement                                                    
Convert a list into a tuple and display it.

In [63]:
# given list
numbers = [10, 20, 30]

# converting list into tuple
numbers_tuple = tuple(numbers)

In [64]:
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary                               
Problem Statement                                          
Check whether a specific key exists in a dictionary.

In [65]:
# taking employee names in dictionary
employee = {"Abhi": "Employee1", "Akash": "Employee2", "Sudheer": "Employee3", "Sameer": "Employee4"}

#checking for employee
Employee = "Abhi"

In [66]:
# Check if the key exists
if Employee in employee:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

Problem 10: Calculate Average Marks                                             
Problem Statement                                                               
Calculate the average marks of a student from a list of marks.

In [67]:
# list of student marks
marks = [65, 70, 75, 80]

#store total marks
total = 0

for m in marks:
    total = total + m

In [68]:
average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5